#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#game div {
  width: 30px;
  height: 300px;
  margin: 10px;
  display: inline-block;
  background-color: rgb(15, 183, 202);
  border: 15px solid rebeccapurple;
  box-shadow: inset 0px 0px 0px 5px rgb(52, 47, 47);
  box-sizing: border-box;
  flex: 0 0 calc(20% - 20px);
  margin-bottom: 20px;
}

h1 {
  font-size: 5rem;
  font-family: Montserrat;
}


.letter {
  transition: color 1000ms;
}

